In [1]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from utils import *

In [12]:
books_read_in_2023 = pd.read_csv('data/goodreads_read_parsed.csv')

In [13]:
books_read_in_2023.head()

,Book Id,Title,Author,Author l-f,Additional Authors,ISBN,ISBN13,My Rating,Average Rating,Publisher,...,Date Read,Date Added,Bookshelves,Bookshelves with positions,Exclusive Shelf,My Review,Spoiler,Private Notes,Read Count,Owned Copies
0,64895,Cod: A Biography of the Fish that Changed the ...,Mark Kurlansky,"Kurlansky, Mark",NaN,"=""0099268701""","=""9780099268703""",2,3.92,Vintage/Ebury,...,2023-12-05,2023-11-22,NaN,NaN,read,I love a niche deep dive but this was missing ...,NaN,NaN,1,0
1,61431922,"Fourth Wing (The Empyrean, #1)",Rebecca Yarros,"Yarros, Rebecca",NaN,"=""1649374046""","=""9781649374042""",4,4.63,"Entangled Publishing, LLC (Red Tower Books)",...,2023-11-30,2023-11-22,NaN,NaN,read,"loved the plot, the world development, the cha...",NaN,NaN,1,0
2,63310838,Tomb Sweeping,Alexandra Chang,"Chang, Alexandra",NaN,"=""006295184X""","=""9780062951847""",3,3.79,Ecco Press,...,2023-11-22,2023-11-02,NaN,NaN,read,the story “persona development” hit me deep in...,NaN,NaN,1,0
3,51901147,The Ballad of Songbirds and Snakes (The Hunger...,Suzanne Collins,"Collins, Suzanne",NaN,"=""""","=""""",4,3.91,Scholastic Press,...,2023-11-17,2023-11-05,NaN,NaN,read,finished 1 hour before seeing the movie,NaN,NaN,1,0
4,3181564,The Housekeeper and the Professor,Yōko Ogawa,"Ogawa, Yōko",Stephen Snyder,"=""0312427808""","=""9780312427801""",3,4.05,Picador,...,2023-11-02,2023-10-22,NaN,NaN,read,good one for my reading rut,NaN,NaN,1,0

In [26]:
# Subset the DataFrame to include only the desired columns
subset_df = books_read_in_2023[['Book Id', 'Title', 'Author', 'My Rating', 'Average Rating', 'Number of Pages','Year Published','Date Added', 'Date Read','My Review']]

In [27]:
# Convert the subset DataFrame to a dictionary
# 'records' mode will make each row a dictionary in a list
books_dict = subset_df.to_dict(orient='records')

In [29]:
# Convert the dictionary to a JSON string
# Write personal reading info to JSON
books_json = json.dumps(books_dict, indent=4)
with open('data/book_reading_info.json', 'w') as file:
    file.write(books_json)

In [25]:
# Scrape each book and write to JSON
with open('data/book_scrape_info.json', 'w') as file:
    for i in range(len(books_read_in_2023)):
        book = books_read_in_2023['Book Id'].iloc[i]
        book_dict = scrape_book(str(book))
        books_json = json.dumps(book_dict, indent=4)
        file.write(books_json)

Scraped page 1
Scraped page 2
Scraped page 3
Scraped page 1
Scraped page 2
Scraped page 3
Scraped page 1
Scraped page 2
Scraped page 3